<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>Vue练习</title><script src="https://cdn.staticfile.org/vue/2.4.2/vue.js"></script>
</head>
<body>
<template id="cpn1">
    <div>
      <h1 v-for="item in book" @click="itemClick(item)">{{item}}</h1>
    </div>
</template>

<div id="mytext" >
    <input type="text" v-model="books"  >

    <cpn1 :book="books" @item="cpnitemClick"></cpn1>

</div>

<script type="text/javascript">
    const cpn1=Vue.extend({
        template: '#cpn1',
        props: ['book'],
        methods:{
            itemClick(item){
                this.$emit('item',item)
                console.log(item)
            }
        }
    });

    let myVue=new Vue({
        el: '#mytext',
        data: {
            books: ["西游记", "三国演义","红楼梦", "水浒传"]
        },
        components:{
            cpn1
        },
        methods:{
            cpnitemClick(item){
                console.log("book-------"+item)
            }
        }

    })
</script>
</body>
</html>
